<div class="row">
    <div class="col-md-12">
        <h1 class="display-4 text-center" jhiTranslate="home.title">Welcome, to Winventory System!</h1>
        <p class="lead text-center subtitle" jhiTranslate="home.subtitle">Winning is contagius</p>
    </div>
    <div [ngSwitch]="isAuthenticated()" class="center">
        <div class="alert alert-success center" *ngSwitchCase="true">
            <span
                id="home-logged-message"
                *ngIf="account"
                jhiTranslate="home.logged.message"
                [translateValues]="{ username: account.login }"
                class="text-center"
            >
                You are logged in as user "{{ account.login }}".
            </span>
        </div>
    </div>
    <div *ngIf="!isAuthenticated()" class="col-md-12">
        <span class="inventory img-fluid center"></span>
    </div>
    <div *ngIf="isAuthenticated()" class="col-md-12">
        <span class="warehouse img-fluid center"></span>
    </div>
</div>
