/* ==========================================================================
Main page styles
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Caveat');

.inventory {
    display: inline-block;
    width: 347px;
    height: 497px;
    margin-top: 150px;
    background: url('../../content/images/stack-cardboard-boxes.jpg') no-repeat center top;
    background-size: contain;
}

.warehouse {
    display: inline-block;
    width: 347px;
    height: 497px;
    margin-top: 150px;
    background: url('../../content/images/warehouse.jpg') no-repeat center top;
    background-size: contain;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/stack-cardboard-boxes.jpg') no-repeat center top;
        background-size: contain;
    }
}

.text-center {
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}
.subtitle {
    font-family: 'Caveat', cursive;
    font-size: 44px;
}
